* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #616161;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif
}

.right-alignment {
  float: right !important
}

.left-alignment {
  float: left !important
}

/* Navigation */
.navigation {
  position: absolute;
  width: 100%;
  padding-top: 16px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navigation-right {
  margin-right: 33px;
}

.navigation-right a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333745;
  font-weight: bold;

  border: 2px solid transparent;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  transition: all 0.2s;
}

.navigation-right a:hover,
.navigation-right a:focus {
  border-color: rgb(234, 46, 73);
  background-color: rgba(44, 45, 47, 0);
}

.navigation-left {
  padding: 0 16px 0 32px;
}

.top-logo {
  width: 38%;
  height: auto;
}


/*background images */
.bgimg-home {
  background-position: center;
  background-size: cover;
  background-image: url("images/home.jpg");
  height: 100vh;
}

/*****/

/* Text styles*/
.center-text {
  text-align: center;
}

.place-middle {
  position: inherit;
  top: 30%;
}

.span-inner {
  display: inline-block;
  position: relative;
}

.check-overflow {
  float: right;
}

.text-white, .hover-text-white:hover {
  color: #fff !important
}

.text-black, .hover-text-black:hover {
  color: #000 !important
}

.jumbo-font-size {
  font-size: 7vw !important
}

.large-spacing {
  line-height: 1.6;
}

.regular-font-size {
  font-size: 4.2vw !important;
  word-spacing: 0.9em;
}

.visible-text {
  color: tomato;
}

.visible-text a {
  text-decoration: none;
  color: #d5c76f;
}

.visible-text a:hover, .visible-text a:focus {
  text-decoration: underline;
  text-decoration-color: #bdbdbd;
}

:root {
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-tertiary: #46c7b9;
  --color-quaternary: #f07a6a;
  --color-quinary: #000000;
}

.text_shadows {
  text-shadow: -1px -1px 0 var(--color-secondary), -3px -3px 0 var(--color-tertiary),
  -6px -6px var(--color-quaternary), -9px -9px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.8s ease-in infinite, move 100.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 1px 1px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
  }
  40% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary), 6px 6px var(--color-quaternary),
    9px 9px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary), 6px 6px var(--color-quaternary),
    9px 9px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary), 6px 6px var(--color-quaternary),
    9px 9px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
  }
  80% {
    text-shadow: 1px 1px 0 var(--color-secondary),
    3px 3px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 1px 1px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes shadows-negative {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: -1px -1px 0 var(--color-secondary);
  }
  20% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary), -6px -6px var(--color-quaternary);
  }
  40% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary), -6px -6px var(--color-quaternary),
    -9px -9px 0 var(--color-quinary);
  }
  50% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary), -6px -6px var(--color-quaternary),
    -9px -9px 0 var(--color-quinary);
  }
  60% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary), -6px -6px var(--color-quaternary),
    -9px -9px 0 var(--color-quinary);
  }
  70% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary), -6px -6px var(--color-quaternary);
  }
  80% {
    text-shadow: -1px -1px 0 var(--color-secondary),
    -3px -3px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: -1px -1px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


$LIGHTING_FLOOR: 1;
$LIGHTING_CEIL: 2;
$LIGHTING_FLAT: 3;

@mixin text3d(
  $primary,
  $depth: 5,
  $shadowsteps: 5,
  $shadowincrementer: 3px,
  $shadowopacity: .5,
  $primaryshadowcolour: #fdb023,
  $lighting: $LIGHTING_CEIL) {
  $predefinedShadows: (
          0 0 5px rgba($primaryshadowcolour, .05),
          0 -1px 3px rgba($primaryshadowcolour, .2),
          0 3px 5px rgba($primaryshadowcolour, .2));
  $value: ();
  @for $i from 1 through $depth {
    $num: $i + px;
    $hueadjust: $i;
    @if ($lighting == $LIGHTING_FLOOR) {
      $hueadjust: ($i * 2 - $depth - 5) * 1%;
    } @else if ($lighting == $LIGHTING_CEIL) {
      $hueadjust: -($i*2 + $depth - 10) * 1%;
    } @else if ($lighting == $LIGHTING_FLAT) {
      $hueadjust: -$depth * 1%;
    }
    $colour: adjust-color($primary, $lightness: $hueadjust);
    $theShadow: 0 $num 0 $colour;
    $value: append($value, $theShadow, comma);
  }

  @for $i from 1 through $shadowsteps {
    @if ($i >= length($predefinedShadows)) {
      $dist: $i * $shadowincrementer;
      $value: append($value, 0 $dist $dist rgba($primaryshadowcolour, $shadowopacity));
    } @else {
      $value: append($value, nth($predefinedShadows, $i));
    }
  }

  text-shadow: $value;
}

$primarycolour: rgb(94, 94, 94);

.services {
  @include text3d(
                  adjust-color($primarycolour, $lightness: -8%),
          $depth: 4,
          $primaryshadowcolour: adjust-color($primarycolour, $lightness: -10%, $saturation: +20%),
          $shadowopacity: .2);
  display: inline;
}

.services a {
  color: #afea1b;
  letter-spacing: 0.11em;
}

.tut-services {
  width: .4vw;
}

.vertLine {
  border-right: 56px solid #fdb023; /* line 1 pixel width, length of "Some content" */
}

.shadow-text {
  text-shadow: -0.0075em 0.0075em 0 mix(#fff, #32b4a4, 94%),
  0.005em 0.005em 0 mix(#fff, #32b4a4, 60%),
  0.01em 0.01em 0 mix(#fff, #32b4a4, 62%),
  0.015em 0.015em mix(#fff, #32b4a4, 64%),
  0.02em 0.02em 0 mix(#fff, #32b4a4, 66%),
  0.025em 0.025em 0 mix(#fff, #32b4a4, 68%),
  0.03em 0.03em 0 mix(#fff, #32b4a4, 70%),
  0.035em 0.035em 0 mix(#fff, #32b4a4, 72%);
}

.thick-shadow-text {
  text-shadow: -0.0075em 0.0075em 0 mix(#fff, #151515, 94%),
  0.005em 0.005em 0 mix(#fff, #151515, 60%),
  0.01em 0.01em 0 mix(#fff, #151515, 62%),
  0.015em 0.015em mix(#fff, #151515, 64%),
  0.02em 0.02em 0 mix(#fff, #151515, 66%),
  0.025em 0.025em 0 mix(#fff, #151515, 68%),
  0.03em 0.03em 0 mix(#fff, #151515, 70%),
  0.035em 0.035em 0 mix(#fff, #151515, 72%);
}

/********/

#amg-slideshow-wrap {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#amg-slideshow-wrap input[type=radio] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 100;
  visibility: hidden;
}

#amg-slideshow-wrap input[type=radio]#amg-button_1:checked ~ label[for=amg-button_1] {
  background-color: #646464;
}

#amg-slideshow-wrap input[type=radio]#amg-button_2:checked ~ label[for=amg-button_2] {
  background-color: #646464;
}

#amg-slideshow-wrap input[type=radio]#amg-button_3:checked ~ label[for=amg-button_3] {
  background-color: #646464;
}

#amg-slideshow-wrap input[type=radio]#amg-button_4:checked ~ label[for=amg-button_4] {
  background-color: #646464;
}

#amg-slideshow-wrap input[type=radio]#amg-button_1:checked ~ #amg-slideshow > ul {
  left: 0%;
}

#amg-slideshow-wrap input[type=radio]#amg-button_2:checked ~ #amg-slideshow > ul {
  left: -100%;
}

#amg-slideshow-wrap input[type=radio]#amg-button_3:checked ~ #amg-slideshow > ul {
  left: -200%;
}

#amg-slideshow-wrap input[type=radio]#amg-button_4:checked ~ #amg-slideshow > ul {
  left: -300%;
}

#amg-slideshow-wrap input[type=radio]#amg-button_1:checked ~ .amg-arrow#amg-arrow_2 {
  right: 10px;
  display: block;
}

#amg-slideshow-wrap input[type=radio]#amg-button_2:checked ~ .amg-arrow#amg-arrow_3 {
  right: 10px;
  display: block;
}

#amg-slideshow-wrap input[type=radio]#amg-button_3:checked ~ .amg-arrow#amg-arrow_4 {
  right: 10px;
  display: block;
}

#amg-slideshow-wrap input[type=radio]#amg-button_4:checked ~ .amg-arrow#amg-arrow_5 {
  right: 10px;
  display: block;
}

#amg-slideshow-wrap input[type=radio]#amg-button_2:checked ~ .amg-arrow#amg-arrow_1 {
  left: 10px;
  display: block;
  transform: scale(-1);
}

#amg-slideshow-wrap input[type=radio]#amg-button_3:checked ~ .amg-arrow#amg-arrow_2 {
  left: 10px;
  display: block;
  transform: scale(-1);
}

#amg-slideshow-wrap input[type=radio]#amg-button_4:checked ~ .amg-arrow#amg-arrow_3 {
  left: 10px;
  display: block;
  transform: scale(-1);
}

#amg-slideshow-wrap input[type=radio]#amg-button_5:checked ~ .amg-arrow#amg-arrow_4 {
  left: 10px;
  display: block;
  transform: scale(-1);
}

#amg-slideshow-wrap label:not(.amg-arrow) {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 1;
  width: 12px;
  height: 12px;
  background-color: #c8c8c8;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s;
}

#amg-slideshow-wrap label:not(.amg-arrow)[for=amg-button_1] {
  margin-left: -36px;
}

#amg-slideshow-wrap label:not(.amg-arrow)[for=amg-button_2] {
  margin-left: -18px;
}

#amg-slideshow-wrap label:not(.amg-arrow)[for=amg-button_3] {
  margin-left: 0px;
}

#amg-slideshow-wrap label:not(.amg-arrow)[for=amg-button_4] {
  margin-left: 18px;
}

#amg-slideshow-wrap label.amg-arrow {
  font-size: 25px;
  color: #fffff0;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 40px;
  text-align: right;
  display: none;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  transition: opacity 0.2s;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

#amg-slideshow-wrap label.amg-arrow:hover {
  opacity: 1;
}

#amg-slideshow-wrap label.amg-arrow:active {
  margin-top: -24px;
}

#amg-slideshow {
  width: 100%;
  height: 100%;
  background-color: #32b4a4;
  overflow: hidden;
  position: absolute;
}

#amg-slideshow > ul {
  list-style: none;
  height: 100%;
  width: 400%;
  overflow: hidden;
  position: relative;
  left: 0px;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#amg-slideshow > ul > li {
  width: 25%;
  float: left;
  position: relative;
}

#amg-slideshow > ul > li > img {
  margin: auto;
  width: 100%;
}

/* homepage pop up*/

.gray-low-opacity, .hover-gray-low-opacity:hover {
  background-color: rgba(211, 211, 211, 0.9);
}

.white-low-opacity, .hover-white-low-opacity:hover {
  background-color: rgb(178, 178, 178);
}

.modal {
  z-index: 2;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup-container {
  display: flex;
  top: 0;
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.popup-icon {
  position: fixed;
  z-index: 3;
}

.half-width {
  width: 50%;
  height: 100%;
}

.bgimg-coding-tut {
  background-position: center;
  background-size: cover;
  background-image: url("images/coding-tut-1902p.jpg");
  height: 100vh;
}

.bgimg-photo-tut {
  background-position: center;
  background-size: cover;
  background-image: url("images/photo tutorial 1920p.jpg");
  height: 100vh;
}

.gray-scale {
  filter: grayscale(80%); /* Standard */
  -webkit-filter: grayscale(80%); /* Webkit */
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); /* Firefox4-34*/
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0.8); /* Old WebKit */
}

/* button */
.button-style:hover {
  color: #000 !important;
  background-color: #ccc !important
}

.display-top-right {
  position: absolute;
  right: 0;
  top: 0
}

.padding-large {
  padding: 12px 24px !important
}

.jumbo-font-size-screen-independent {
  font-size: 36px !important
}

.light-border {
  border: 1px solid #000000;
  z-index: 100;
  border-radius: 8px;
}

.popup-box-size {
  width: 70%;
  height: fit-content;
}

.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.raise-above-all {
  z-index: 1000;
}

.grow-on-hover {
  transition: all .2s ease-in-out;
}

.grow-on-hover:hover {
  transform: scale(1.1);
}

.finger-mouse {
  cursor: pointer;
}

.outline-btn {
  border: 2px transparent;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

.animate-zoom-in {
  animation: animate-zoom-in-keyframe 0.4s
}

@keyframes animate-zoom-in-keyframe {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.animate-zoom-out {
  animation: animate-zoom-out-keyframe .24s
}

@keyframes animate-zoom-out-keyframe {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(0)
  }
}

.popup-font-weight {
  font-weight: 1000;
}
@media (max-width: 840px) {
  .popup-out {
    flex-wrap: wrap;
  }
  .popup {
    width: 100%;
    height: 50%;
  }
  .black-button {
    color: black;
  }
}

.black-button {
  color: white;
}