@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-adaptation {
    @apply w-1/3 md:w-1/2 xl:w-5/12;
}
.nav-right-font {
    @apply text-sm md:text-xl;
}
.nav-right-font a {
    @apply p-1.5
}

.horizontal-align {
    width: 100%;
    height: 50%;
    flex-direction: column;
    @apply md:w-1/2 md:h-full
}