name: Continuous development
on:
  workflow_run:
    workflows: [ Continuous integration ]
    types: [completed]

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Deps
        run: sudo apt-get update -y && sudo apt-get install libwayland-dev libgtk-3-dev libwebkit2gtk-4.1-dev libsoup2.4-dev libprotobuf-dev gcc-multilib clang libclang-dev protobuf-compiler -y
      - name: Set up Rust
        run: rustup default nightly && rustup target add wasm32-unknown-unknown
      - name: Install Tailwind CLI
        run: |
          curl -sLO https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64
          chmod +x tailwindcss-linux-x64
          mv tailwindcss-linux-x64 tailwindcss
      - name: Install Trunk
        run: cargo install trunk
      - name: Build
        run: trunk build --release
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist